
@{
    ViewBag.Title = "AddSection";
}

<h3>ADD CLASSIFIED</h3>

<div class="row section-selector-container">
    <div class="col-md-3 section-selector">
        <select class="form-control" data-load-section="classifields" data-section-path>
            <option>Select section</option>
        </select>
    </div>
</div>
<div class="row" id="SelectedSectionRow" style="display:none">
    <div class="col-md-12" style="text-align:center;">
        <div class="selected-section-info">
            <span>Selected section path</span><br />
            <span id="SelectedPath"></span><i class="fa fa-pencil-square-o change"></i>
        </div>
    </div>
</div>
<div class="row" id="ClassifiedRow" style="display:none">
    <div class="col-md-12">
        @Html.Partial("_ClassifieldForm");
    </div>
</div>
@Styles.Render("~/Content/add_classified")
@section scripts{
    <script src="@Url.Content("~/Scripts/Classifields/add-classifield.js")"></script>
}