
@{
    ViewBag.Title = "My Classifieds";
}

<h3>MY CLASSIFIEDS</h3>

<div class="row">
    <ul class="nav nav-tabs">
        <li status="public" class="active"><a data-toggle="tab" href="#public">Publiced<span></span></a></li>
        <li status="draft"><a data-toggle="tab" href="#draft">Drafts<span></span></a></li>
        <li status="expired"><a data-toggle="tab" href="#expired">Expired<span></span></a></li>
        <li status="rejected"><a data-toggle="tab" href="#rejected">Rejected<span style="color:red;"></span></a></li>
        <li status="marked" class="right"><a data-toggle="tab" href="#marked">Marked<span></span></a></li>
    </ul>

    <div class="tab-content">
        <div id="public" class="tab-pane fade in active">
            <table id="publicTable" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="draft" class="tab-pane fade">
            <table id="draftTable" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="expired" class="tab-pane fade">
            <table id="expiredTable" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="rejected" class="tab-pane fade">
            <table id="deletedTable" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="marked" class="tab-pane fade">
            <table id="markedTable" class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal Window -->

<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="text-align:center" class="modal-title">Public classified</h5>
            </div>
            <div class="modal-body">
                <select class="form-control" id="publishWeeks" value="1">
                    <option value="1">1 week</option>
                    <option value="2">2 weeks</option>
                    <option value="3">3 weeks</option>
                    <option value="4">4 weeks</option>
                </select>
            </div>
            <div class="modal-footer">
                <button style="float:left" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-classified-id onclick="publishClassified($(this).attr('data-classified-id'))">Public</button>
            </div>
        </div>
    </div>
</div>

<style>
    tr .image {
        height:50px;
        width:70px;
    }
    tr .image img {
        height: 50px;
    }
    table tr .info {
        display:flex;
        align-items:center;
    }
    table tr td:first-child {
        max-width:0;
    }
    table tr .price {
        margin-left:auto;
        font-weight:bold;
        color:limegreen;
        font-size: 15px;
    }
    table tr .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left:20px;
        padding-right:20px;
    }
    .right {
        float:right !important;
    }
    a {
        cursor:pointer;
    }
    h3 {
        text-align: center;
        font-weight: bold;
        color: dimgrey;
    }
    #publishModal .modal-dialog {
        width:320px;
    }
    .price {
        white-space:nowrap;
    }
</style>
@section scripts{
    <script>
        var uriMarkClassified = "@Url.Action("mark", "classifield")";
    </script>
    <script src="@Url.Content("~/Scripts/Classifields/classifieds.js")"></script>
}