@model IEnumerable<APS.Models.HomeSections>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 m-section">
            <dl>
                <dt>
                    @{
                        var icon = "";
                        switch (item.MainSection.Child) {
                            case "work" :
                                icon = "fa-wrench";
                                break;
                            case "electronics":
                                icon = "fa-mobile";
                                break;
                            case "for-children":
                                icon = "fa-wheelchair";
                                break;
                        }


                    }
                    <i class="fa @icon"></i>

                    <span class="main-title">
                        @Html.ActionLink(item.MainSection.Child, item.MainSection.Child, "classifields")
                    </span>

                </dt>
                <dd>
                    <ul>
                        @foreach (var subitem in item.Childs)
                        {
                            <li>@Html.ActionLink(subitem.Child, subitem.Parent + "/" + subitem.Child, "classifields")</li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>
    }
</div>
<style>
    .m-section ul li{
        list-style:none;
        color:black;
        padding:0;
        font-size:18px;
    }
    .m-section .fa {
        font-size:30px;
        width:30px;
    }

    .m-section .main-title a{
        font-size: 25px;
        color: black;
        padding-left:5px;
    }
    .m-section {
        height:150px;
    }

</style>