#reportse .report.active {
    background-color: #E8E8E8;
}
#reportse {
    margin-top: 20px;
}
#reportse .report:hover {
    background-color: lightgrey;
}
#reportse .report {
    border: 2px solid #808080;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    border-radius: 25px;
}
#reportse .report .time {
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
    color: gray;
}
.report-container .nav-tabs li{
    width:50%;

}
.report-container .nav-tabs li:first-child a{
    border-left:none;
}
.report-container .nav-tabs li:last-child a{
    border-right: none;
}
#reportsc .report.active {
    background-color: #E8E8E8;
}

#reportsc {
    margin-top: 20px;
}

    #reportsc .report:hover {
        background-color: lightgrey;
    }

    #reportsc .report {
        border: 2px solid #808080;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        border-radius: 25px;
    }

        #reportsc .report .date {
            text-align: right;
            margin-right: 20px;
            font-size: 12px;
            color: gray;
        }
        #reportsc .report .header {
            font-size:21px;
        }
        #reportsc .report .description-container {
            padding-top:10px;
            border-top:2px solid white;
        }
        #reportsc .report .dsc-item {
            border-bottom:1px solid white;
        }
        #reportsc .report .dsc-item:last-child {
            border-bottom: none;
        }