<div class="modal fade" id="reportErrorModal" tabindex="-1" role="dialog" aria-labelledby="reportErrorModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Report an error</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Report">Report</label>
                        <textarea class="form-control report" id="ReportText" placeholder="Descritption"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="sendReport" type="button" onclick="sendReportError()" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
