<div class="container chat-container" style="display:none">
    <div id="template" user-id class="chat-window">
        <div class="chat-header">
            <span></span>
            <i class="fa fa-times pull-right" chat-window-close></i>
        </div>
        <div class="chat-body">
            <div class="chat-messages">
            </div>
            <div class="chat-input">
                <div class="input-group">
                    <input id="message" type="text" class="form-control" placeholder="Message...">
                    <span class="input-group-btn">
                        <button id="sendmessage" class="btn btn-secondary" type="button">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-manager" class="chat-manager">
        <div class="chat-manager-add">
            <i id="chat-manager-open" class="fa fa-plus" style="color:white;"></i>
        </div>
        <div class="chat-manager-window">
            <div class="chat-manager-header">
                @APS.Resources.Main.Chat
            </div>
            <div class="chat-manager-body">
            </div>
        </div>
    </div>
</div>