
@{
    ViewBag.Title = "AddSection";
}

<h3>AddSection</h3>
<div id="treeContainer" class="row">
    <hr />
    @Html.Hidden("sectionId")
    @Html.Hidden("sectionValue")
    <div class="row tree-head">
        <div class="col-xs-12">
            <button type="button" class="btn btn-dark t-btn" collapse-sections>Collapse all</button>
            <button type="button" class="btn btn-dark t-btn" expand-sections>Expend all</button>

        </div>
    </div>
    <div class="row">
        <div class="tree well2">

        </div>
    </div>
</div>
<div id="section-details" style="display:none">
    <div class="row">
        <div id="columns" class="col-md-6">
        </div>
        <div id="fields" class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <button confirm-section type="button" class="btn btn-block">
                Confirm
            </button>
        </div>
    </div>
    <hr />
</div>
<style>
    .tree {
        padding-top: 0px;
        min-height: 20px;
        padding: 19px;
        margin-bottom: 10px;
    }

        .tree li {
            list-style-type: none;
            margin: 0;
            padding: 10px 5px 0 5px;
            position: relative
        }

            .tree li::before, .tree li::after {
                content: '';
                left: -20px;
                position: absolute;
                right: auto
            }

            .tree li::before {
                border-left: 1px solid #999;
                bottom: 50px;
                height: 100%;
                top: 0;
                width: 1px
            }

            .tree li::after {
                border-top: 1px solid #999;
                height: 20px;
                top: 29px;
                width: 25px
            }

            .tree li span {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border: 1px solid #999;
                border-radius: 5px;
                display: inline-block;
                padding: 3px 8px;
                text-decoration: none
            }

            .tree li.parent_li > span {
                cursor: pointer
            }

        .tree > ul > li::before, .tree > ul > li::after {
            border: 0
        }

        .tree li:last-child::before {
            height: 30px
        }

        .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
            background: #eee;
            border: 1px solid #94a0b4;
            color: #000
        }
        .tree li span i{
            padding-right:5px;
            font-weight:bold;
            font-size:20px;
        }
        .tree li span i.icon-plus-sign:before {
            content: '\002b';
        }
        .tree li span i.icon-minus-sign:before {
            content: '\2013';
        }
        .tree li button {
            font-size: 15px;
            font-weight: bold;
        }
        .tree li button.icon-plus-sign:before {
            content: '\002b';
        }
        .tree li button.icon-minus-sign:before {
            content: '\2013';
        }
        h3 {
            text-align: center;
            font-weight: bold;
            color: dimgrey;
        }
    
    .tree-head > div {
        text-align: center;
        position: absolute;
    }
</style>
@section scripts{
    <script src="@Url.Content("~/Scripts/Classifields/section.js")"></script>
}
